<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.UI</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bulma-0.9.1/css/bulma.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bulma-0.9.1/css/bulma.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <header>
        <a asp-page="/Admin/Index">Admin</a>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Shop.UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
