@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="section">
    <div class="columns is-multiline is-mobile">
    @{
        for (int i = 0; i < 5; i++)
        {

            foreach (var p in Model.Products)
            {
                <div class="column is-3-desktop is-4-tablet is-6-mobile">
                    <a asp-page="Product" asp-route-productId="@p.Id">

                        <div class="card" >
                            <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="~/images/snickers.webp" />""
                                    </figure>
                            </div>
                            @if(p.StockCount == 0)
                            {
                            <div class="notification is-danger has-text-centered is-paddingless">Out of Stock</div>
                            }
                            else if(p.StockCount < 5)
                            {
                            <div class="notification is-warning has-text-centered is-paddingless">Low on Stock</div>
                            }

                            <div class="card-content">
                                <p class="title is-size-6">
                                    @p.Name @p.ValueStrRubles
                                </p>
                                <p class="subtitle">
                                    @p.Description
                                </p>

                                
                                <div class="content">
                
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    }
    </div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}